/*Entire webpage color, text color, font style and general text spacing*/
* {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
    background-color: black;
}

/*Makes the list appear w/o bullets, makes padding & margin 0 in addition makes the nav bar black*/ 
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 95rem;
}

/*Positions the logo in the top left*/
#logo {
    position: absolute;
    top: 0;
    left: 0;
}

/*Makes the Nav appear in a line without the bullet and positions the text beside the logo*/
nav h3 {
    padding-left: 80px;
}

nav ul li {
    display: inline-block;
}

/*Makes the hyperlink appear in a line, bolds the text, centers and effects the spacing around each link*/
a {  
    display: inline-block;
    text-align: center;
    color: white;
    padding: 1rem;
    font-weight: bold;
    text-decoration: none;
}

/*Changes the link color when hovered*/
a:hover {
    background-color: #73000A;
    color: white;
}

/*Creates the box for the items in the article*/
main article {
    display: flex;
}

.mainsection {
    text-align: center;
    margin: 4rem;
}

.mainsection img {
    border: solid 5 px whitesmoke;
}
/*Creates a garnet border around the divs and centers them as well as creating equal space between each item*/
main article div {
    border: solid 3px #73000A;
    margin-right: 1rem;
    margin: auto;
    align-content: center;
}

/*Centers text for the article section*/
main article h2 {
    text-align: center;
    margin: 2rem;
}

.HighlightHeading {
    text-align: center;
    margin: 2rem;
}
/* centers the text for the divs and creates a border to position the text farther above the image*/
main article div h3,p {
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin-top: 0;
}

/*Makes equal space between each image, sets height and width, changes the image background color*/
img.highlight-players {
    background-color: white;
    display: block;
    margin: auto;
}

.support {
    background-color: #73000A;
    color: whitesmoke;
    padding: 1.5rem;
    margin-bottom: 2rem;
}


/*Football Page*/
#footballmain {
    margin-left: 10rem;
    display: flex;
    align-items: flex-start;
    margin-top: 4rem;
    align-content: center;
}

.mainpic img {
    max-width: 100%;
    height: auto;
}

.videos {
    margin-left: 25rem;
}

.videos iframe {
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
}

.roster{
    margin-top: 6rem;
    text-align: center;
}
/*Form Page*/



/*Footer details*/
footer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialicons {
    display: flex;
    justify-content: center;
}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: #73000A;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a:hover i {
    background-color: #111;
    transition: 0.5s;
}

.socialicons a i {
    font-size: 2em;
    color: white
}

.footerbottom {
    text-align: center;
    padding: 20px;
}
